.App{
width: 100%;
text-align: center;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


.dveri{
  width:2vw;
}

/*HEADER CONFIG*/
.head{
  /* background-color:0 ; */
  height: 20vh;
  display:flex;
  justify-content: space-between;
  text-align: center;
}
 #logobord{
  position: absolute;
  left: 0px;
  height: 20vh;
background-color:#0bcdf9 ;
width: 16%;
}
.ava{
  padding-top: 16vh;
  height: 20vh;
  width: 100%;
  border-radius: 0px 130px 0px 0px ;
  background-image: url(../src/pictures/openblue.jfif);
  background-size: 100% 100%;
}
.ava button{
  height: 2em;
  color:black;
  background-color: #02dcff8f;
  border: 1px;
  border-radius: 8px;
  border-color:#02dcff8f ;
}
.logo{
  margin:2vw;
  width:8vw;
  min-width: 100px;
  border-radius: 80px;
  background-color:#0bcdf9 ;
}
#littleH{
  background-color: #0bcdf9;
  color: aliceblue;
  font-size:2.5cm;
  width: 44.5vw;
  }

.move{
  width: 70%;
  display: flex;
  margin-left:15vw ;
}
#bigH{
  background-color: #0bcdf9;
  color: aliceblue;
  font-size:2.5cm;
  width: 60vw;
}

.scroll{
  position: relative;
    padding-top: 1.5vh;
    padding-bottom: 9vh;
    height: 100%;
    width: 23%;
    text-align: left;
    background-color: #0bcdf9;
  
}
.closed{
  padding: 1vh 2vw ;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-scroll.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 13vh;
  margin-left:16vw ;
  transition: margin 0.5s;
}
.closed input{
  width: 90%;
}
.open{
  padding: 0vh 1vw 0 2vw;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-scroll.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 91%;
  height: 17vh;
  margin-left: 1vw;
  transition: margin 0.5s;
}
.open input{
  margin-top: 3%;
  height: 25%;
    width: 95%;
}
#b1{
  margin-top: 3%;
  font-size: 2vhvh;
  height:25%;
  margin-right: 50%;
  background-color: moccasin;
}
#scrollIn{
  height:10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
#b2{
  width: 1vw;
  margin-top: 3%;
  margin-left: 90%;
  margin-bottom: 0%;
  font-style: italic;
  font-family: Georgia;
  font-size: larger;
  border: 0px;
  color: crimson;
  background-color: inherit;
}
.foto{
  position: absolute;
  right: 0px;
  width: 25vw;
  height: 20vh;
  background-color:#0bcdf9 ;
  }
  .foto img{
    border-radius: 100px 0 0px 10px;
    width: 100% ;
    height: 100%;
  }
.form{
  position: absolute;
    right: 0px;
    background-image: url(../src/pictures/images\ \(4\).jfif);
    background-size: 100% 100%;
     display: flex;
     flex-direction: column;
    justify-content: center; 
    width: 25%;
    height: 20vh;
    padding-left: 5%;
    padding-bottom: 5vh;
    padding-top: 3vh;
  }
.guest  {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    height:10vh;
    transform: rotate(-2deg);
  }
.guest button{
    margin-left:5% ;
    width: 40%;
    font-size: smaller;
  }

.user {
  transform: rotate(-2deg);
    height: 10vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: smaller;
    
  }
.user button{
    
    font-size: smaller;
    width: 40%;
  }
  /* END HEADER CONFIG */

.Main{
    display: flex;
    flex-direction: column;
  }

  /* NAVBAR */
#nav{
  position: sticky;
  top:0vh;
  z-index: 1;
  background-color:rgb(144 183 11 / 83%) ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
}
#nav a{
  text-decoration: none;
  color: aliceblue;
}



/* FOOTER */
.footerA{ 
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  background-image: url(../src/pictures/footer.png);
  background-size: 100% 100%;
}

.footerB{
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  background-image: url(../src/pictures/blackfooter.jpg);
  background-size: 100% 100%; 
}
#footH{
  margin-left: 25vw;
  width: 50vw;
}

/* LIBRARY component */
.libSerch{ 
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  height:4vh;
  align-items:flex-start;
  position: sticky;
  top:5vh;
  background-color:rgb(144 183 11 / 83%) ;
  z-index: 1;
}
#linkdveri{
  height: 60%;
  width:20vw;
}
.libSerch input{
  display: inline-block;
  height: 3vh;
  width: 60vw;
}
.libSerch button{
  display: inline-block;
  height: 3vh;
}

.page{
  padding: 0vw 2vw 2vw;
    align-items: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,29vw);
    gap: 4vw;
    grid-row-gap: 2vw;
  background-image: url(../src/pictures/polki-library.jpg);
  background-size: 100% 100%;
  background-position: top;
}
.page a{
  font-family: 'Franklin Gothic Medium';
  text-decoration: none;
}

.cell{
  padding-left: 14%;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 23vw;
  border-radius: 20px;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-2.png);
  background-size:100% 100%;
}
.right{
  text-align: left;
  padding-top: 21%;
  padding-right: 10%;
  transform: rotate3d(39,-29,7,49deg);
  width: 50%;
}
.aut{
  word-break:break-all;
  overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.name{ 
  word-break: break-all;
  overflow: hidden;
    text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.zanr{
  word-break:break-all;
  overflow: hidden;
    text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cover{
  width: 100%;
  height: 100%;
}
.left{
  height: 77%;
    padding-bottom: 4%;
    text-align: right;
    transform: rotate3d(53,-27,84,31deg);
    width: 11vw;
    padding-top: 13%;
}
.toBook{
  font-style:normal ;
  color: rgb(92, 6, 252);
}
/* END LIBRARY */



/* EmptySearch */
.emptyPage{
  padding-left: 5vw;
  display: flex;
  justify-content: center;
  height: 43.5vw;
  background-image: url(../src/pictures/shop-temporarily-closed-sign-mockup-during-coronavirus-pandemic_53876-136188.jpg);
  background-size: 100% 43.5vw;
}
#nothing {
  box-sizing: content-box;
    font-size: 1.5cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 16vw;
    width: 37vw;
    margin: 15vw 0vw 7vw 10vw;
    background-color: #ededec;
    rotate: -1.8deg;
}
#repeat{
  box-sizing: content-box;
  font-size: 1cm;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 25vw;
  width: 33vw;
  margin: 13vw 9vw 7vw 6vw;
  background-color: #ededec;
  rotate: -1.8deg;
}


/* SEARCH component */
.bigPage{
  padding: 6vw 1vw 4vw;
  height: max-content;
  min-height: 56vw;
  width:100%;
  align-items: flex-start;
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-column-gap: 2vw;
  grid-auto-rows: 24.35vw;
  background-image: url(../src/pictures/shelf.jpg);
  background-size: 100% 24.35vw;
    background-position: top;
    background-repeat: repeat-y;
}

.cellS{
  display: flex;
  justify-content: space-between;
  height: 100%;
  border-radius: 20px;
    background-image: url(../src/pictures/old-book-clipart-design-illustration-free-png.webp);
    background-size:100% 100%;
}

  .bigPage>div{
    position: relative;
    
  }
.grow{
  padding: 5% 5% 20%;
  height: 24.35vw;
}
.bigPage>div:nth-child(4n-3) .grow:hover{
  position: absolute;
  left:0;
  top:-9vw;
  background-image: url(../src/pictures/shelf.jpg);
  background-size: 100% 100%;
  height: 35vw;
  width: 40vw;
  z-index: 1;
  padding: 38% 5% 5%;
  border-radius: 50px;
}

.bigPage>div:nth-child(4n-2) .grow:hover, .bigPage>div:nth-child(4n-1) .grow:hover{
  position: absolute;
  left: -9vw;
  top:-9vw;
  background-image: url(../src/pictures/shelf.jpg);
  background-size: 100% 100%;
  height: 35vw;
  width: 40vw;
  z-index: 1;
  padding: 38% 5% 5%;
  border-radius: 50px;
}



.bigPage>div:nth-child(4n) .grow:hover{
  position: absolute;
  left: -16vw;
  top:-9vw;
  background-image: url(../src/pictures/shelf.jpg);
  background-size: 100% 100%;
  height: 35vw;
  width: 40vw;
  z-index: 1;
  padding: 38% 5% 5%;
  border-radius: 50px;
}



.leftS{
  padding-top: 0.5vw;
  padding-left: 2vw;
   width: 50%;
}
 .rightS{
  text-align: left;
 
  width: 50%;
}
.coverS{
  height: 88%;
  width: 93%;
}

.discr{
  color: black;
  font-style: normal;
}
/* END OF SEARCH */


/* HOME component */
.tops{
  background-image: url(../src/pictures/shelfes.jpg);
  background-size:100% 100% ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75vw;
  padding-left: 6vw;
  padding-right: 6vw;
}
.tops a{
  text-decoration: none;
}
.title {
  font-family: 'Gill Sans';
  font-size: large;
  color:rgb(133, 61, 2);
  padding-top: 1.2vw;
  height: 4vw;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-title.png);
  background-size: 100% 100%;
}
.rate {
  padding-top: 1vw;
  height: 75vh;
  width: 95%;
}
.recomend {
  padding-top: 1vw;
  height: 75vh;
  width: 100%;
}
.new {
  height: 75vh;
  padding-top: 1vw;
  width: 100%;
}
.rate .cellH{
  margin-bottom: 0.5vw;
  display: flex;
  justify-content:left;
  margin-left: 1vw;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-p2rdNzwSm3Yodh.png);
  background-size: 100% 100%;
  height: 12vw;
}
.recomend .cellH{
  display: flex;
  justify-content: left;
  margin-bottom: 0.5vw;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-VSx89Zmmr9KisCk2.png);
  background-size: 100% 100%;
  height: 12.1vw;
}
.new .cellH{
 
  display: flex;
  justify-content: left;
  background-image: url(../src/pictures/imgonline-com-ua-Transparent-backgr-tbSblE48DRfIoa3.png);
  background-size: 100% 93%;
  height: 12vw;
  margin-top: 0.55vw;
}

.rate .leftH{
  text-align: right;
  width: 27%;
  padding-top: 10%;
  height:100% ;
}
.recomend .leftH{
  text-align: right;
  width: 30%;
  padding-top: 8%;
  height:100% ;
  padding-bottom: 1vw;
}
.new .leftH{
  text-align: right;
  width: 30%;
padding-top: 6%;
height:100% ;
}
.rate .coverH{
  height: 75%;
}
.recomend .coverH{
  height: 85%;
}
.new .coverH{
  height: 75%;
}
.rate .rightH{
  text-align: left;
  padding-left: 0.3em;
  padding-top: 9%;
  width: 67%;
height: 70%;
}
.recomend .rightH{
 
  text-align: left;
  padding-left: 0.3em;
  padding-top: 8%;
  width: 60%;
height: 70%;
}
.new .rightH{
  text-align: left;
  padding-left: 0.3em;
  padding-top: 6%;
  width: 60%;
height: 70%;
}
#author{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  color: black;
}
#title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1em;
  color:rgb(192, 79, 3)
}
/* END OF HOME */


/* LIBRO component */
#Libro{
  display: flex;
  justify-content: center;
  height: fit-content;
  min-height: 44vw;
  background-image: url(../src/pictures/perfect-book.jpg);
  background-size:100% 102%;
  padding-bottom: 6%;
  width: 99.4vw;
  margin-left: -0.5vw;
  margin-top: -0.2vw;
}
#bigCover{
  display: flex;
  flex-direction: column;
  justify-content: center;
    height: fit-content;
    padding-top: 10%;
    padding-left: 4%;
    padding-right: 6%;
    padding-bottom: 5%;
    width: 49%;
}
#bigFoto{
  margin-top: 8%;
  height: 55%;
  width: 80%;
  padding-left: 35%;
}
#bigFoto img{
  width: 100%;
}
#dis{
  
  text-align: center;
  margin-top: 1vh;
  margin-left: 15%;
width: 85%;
}
#fullDesc{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: left;
  padding: 4% 0px;
width: 38%;
}
span{

  font-family: 'Gill Sans';
  color:rgb(150, 69, 3)
}
/* END OF LIBRO */


/* REGISTRY component */
#reg{
  height: 77vh;
  background-size: 100% 100%;
  background-image: url(../src/pictures/l5kdnwocgg9slmfyppuj1e2jypsx8eco9xyh663k4ocauvyfsz1hpfcj7mkg9vkf-.jpg);
}
#message{
  position: absolute;
  margin:20vh 0vw 0vw 30vw;
  padding: 10% 3% 5% 1%;
  color: blanchedalmond;
  width:20vw;
  height: 30vw;
z-index: 2;
}
.form_container{
  background-image:url(../src/pictures/imgonline-com-ua-Transparent-backgr-diary.png) ;
  background-size: 100% 100%;
  position: absolute;
  margin:20vh 30vw 0vw;
  padding: 5.5% 2% 5% 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  height: 30vw;
  min-height:280px ;
  z-index: 1;
}
.form_container input{
  height: 2em;
} 
.form_container button{
  height: 2em;
} 



/* PROFILE component */
#profile{padding-left: 30%;
  height:39vw;
  background-image: url(../src/pictures/wood-office-desk-table-with-laptop-computer-smartphone-supplies-top-view-flat-lay-background-with-copyspace_33795-426.jpg);
  background-size: 100% 100%;

} 
#entireBook{
  margin-top: -4vw;
    padding: 8vw 5vw 0 5vw;
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 39vw;
  background-image: url(../src/pictures/transp-profile-book.png);
  background-size: 100% 120%;
}
#update{
  
    transform-origin:left;
  height: 100%;
  
  animation-name: book;
  animation-duration: 2s;
}

 
  


#nowVis{
  padding: 0 0vw 0 3vw;
  width: 42%;
  height: 30.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  position: absolute;
  z-index: 2;
  top: 8vw;
  left:5vw;
}
  #nowHid{
    visibility: hidden;
    padding: 0 0vw 0 3vw;
    width: 42%;
    height: 30.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    position: absolute;
    z-index: 2;
    top: 8vw;
    left:5vw; 
  
}
.fresh{
  background-color: rgb(226, 229, 226);
  border: 0px;
  width:16px;
  height:16px ;
  border-radius: 8px;
}
.fresh:hover{
  background-color: rgb(27, 223, 27);
}
#now img{
  border: 0px;
 size: 16px;
 border-radius: 8px;
}

#future {
  padding: 0 11vw 0 1vw;
  background-image: url(../src/pictures/Transparent-right-page.jpg);
  background-size: 100% 100%;
  height: 30.5vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  position: relative; 
}

#then {
  visibility: visible;
  padding: 0 11vw 0 1vw;
  background-image: url(../src/pictures/Transparent-right-page.jpg);
  background-size: 100% 100%;
  height: 30.5vw;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  position: relative;
  transform-origin: left;
  animation-name: book;
  animation-duration: 1s;
}
@keyframes book {
  0%  {transform: rotateY(0deg); visibility:visible}
  100% {transform: rotateY(180deg); visibility:visible}
}
.Hidden{
 visibility: hidden;
 size: 10vw 2vh;
}
.nickVis{
visibility: visible;
size: 10% 2vh;
}
.mailVis{
visibility: visible;
size: 10% 2vh;
}
.country{
visibility: visible;
size: 10% 2vh;
}
.cityVis{
visibility: visible;
size: 10% 2vh;
}
.dateVis{
visibility: visible;
size: 10% 2vh;
}
.slogVis{
visibility: visible;
size: 10% 2vh;
}
.butVis{
  visibility: visible;
  height: 4vh;
  max-height: 50px; 
}
#pass\del{
  width:100%;
  display: flex;
  justify-content: space-around;
}
#newpass{
  width: 40%;
  height: 4vh;
  max-height: 50px;
}
#delete{
  color: orange;
  background-color: darkred;
  width: 40%;
  height: 4vh;
  max-height: 50px;
}
#delete:hover{
  color: rgb(255, 230, 0);
  background-color: rgb(228, 7, 7);
  width: 40%;
  height: 4vh;
  max-height: 50px;
}
#parole{
  padding: 0 0vw 0 3vw;
  width: 33%;
  height: 30.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  position: absolute;
  top: 8vw;
  left:5vw;
  z-index: 0;
}
.passVis{
  visibility: visible;
size: 10% 4vh;
}
.newPassVis{
  visibility: visible;
size: 10% 4vh;
}
.confVis{
  visibility: visible;
size: 10% 4vh;
}